/*
* @Author: zhang
* @Date:   2018-03-09 00:40:15
* @Last Modified by:   zhang
* @Last Modified time: 2018-03-09 11:58:43
*/
@import url("base.css");
.shopp{
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #DBDBDB;
}
.shopp ul{
	width: auto;
	height: 58px;
	float: left;
}
.shopp li{
	font-size: 14px;
	color: #999999;
	line-height: 58px;
	padding: 0 20px;
	float: left;
}
.shopp ul li:hover{
	color: #5079D9;
}
.shopp .input_box{
	position: relative;
	width: auto;
	height: 36px;
	background: #fff;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	margin-top: 7px;
	padding: 6px 50px 6px 15px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
}
.shopp .input_box input{
	height: 22px;
	border: none;
}
input:focus { outline: none; } 
.btn{
	width: 20px;
	height: 25px;
	padding: 0 15px;
	background: #fff;
	border: none;
	position: absolute;
	right: 0;
	top: 5px;
	text-align: center;
	line-height: 36px
}
.btn .iconfont{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.no{
	width: 100%;
	height: 80px;
	background: #EDEDED;
}
@media screen and (min-width: 1200px){
	.shopp{
		width: 100%;
		height: 58px;
	}
	.shopp .input_box{
		float: right;
		width: 275px;
	}
	.shopp .input_box input{
		width: 208px;
	}
}
@media screen and (max-width: 1200px) and (min-width: 992px){
	.shopp{
		width: 100%;
		height: 58px;
	}
	.shopp .input_box{
		float: right;
		width: auto;
	}
	.shopp .input_box input{
		width: 208px;
	}

}
@media screen and (min-width: 768px) and (max-width: 992px){
	.shopp{
		width: 100%;
		height: 121px;
	}
	.shopp .input_box{
		overflow: hidden;
		width: 707px;
	}
	.shopp .input_box input{
		width: 707px;
	}

}
@media screen and (max-width: 768px){
	.shopp{
		width: 100%;
		height: 121px;
	}
	.shopp .input_box{
		overflow: hidden;
		width: 100%;
	}
	.shopp .input_box input{
		width: auto;
	}
}